
<body>
    <% const manuals = kit.legoBox.manualBoxes %>
    <select id="manualInfo">
        <%manuals.forEach(e=>{%>
            <option value="<%= e.urlPDF %>" selected><%= e.name %> </option>
                        <option value="<%= e.urlPDF %>" selected><%= e.name %> </option>


        <%})%>
    </select>
    <script>
        document.getElementById("manualInfo").addEventListener("change", async(e) =>{
            e.preventDefault();
            debugger;
            const manualInfo = document.getElementById("manualInfo").value;
            document.getElementById("manualR").src = "/"+manualInfo;

        })
    </script>
    <iframe id="manualR" style="height: 75vh; width: 100%;" src="/<%=manuals[0].urlPDF%>">

    </iframe>
</body>