<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    

    <div class="container-grid container">
        <h2>Kit:</h2>
        <h5>Nombre: <%= kit.name %></h5>
        <h5>Necesidades: <%= kit.objetive %></h5>
        <h5>Historias de Usuario: </h5>

        <div class="scroll-container" style="padding: 10px; margin-bottom: 20px;">
            <table>
                <tbody>
                <% if(HUList.length != 0){ %>
                
                    <% HUList.forEach (hu => { %>
                        <tr>
                            <td>
        
                            <h6>Nombre: <%= hu.name %></h6>
                            <h6>Necesidades: <%= hu.description%></h6>
                            <img src="/<%=hu.imageUrl%>" />
    
                            </td>
                        </tr>
                    <% }); %>
                <% } %>

               
                </tbody>
            </table>

        </div>
        <a href="/kit/addHU" class="btn-redirect">Add HU</a>
        <h5>Cajas: </h5>

            <table>
                <tr>
                    <th>Nombre Manual</th>
                    <th>Manuales</th>
                </tr>
                <% if(boxLego.length != 0){ %>
                    <% boxLego.forEach (box => { %>
                        <tr>
                            <td>
                            <h6><%= box.name %> </h6>
                            </td>
                        
                            <% if(box.manualBoxes.length !=0){
                                box.manualBoxes.forEach(e=>{ %>
                                <td>

                                <h6>manual enlace:
                                 <a href="/<%= e.urlPDF %>"> <%= e.name %></a>
                                </h6>
                        
    
                                </td>
                            <% }); 
                            }else{ %>
                                <td><h6>No hay ningún manual</h6></td>
                            <% } %>
                            </tr>
                        
                    <% }); %>
                <% } %>
               

            </table>
        <a href="/kit/addBox" class="btn-redirect">Add Box</a>

    </div>
</body>