<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <dialog id='description'>
        
    </dialog>
    <div class="header" style="background-color: lightslategrey;">
        <h6>Fase Actual: <%=state[0]%></h6>
        <h6>Rol: <%=state[1]%></h6></div>
    <div class="container container-grid">
        
        <button onclick="objetivePhase()">Ver objetivo Fase</button>
        
        <div style="width: 100%; height: 75vh;">
            <% if(view){ %>
            <%- include('partials/'+ view); %>
            <%}%>
        </div>
        <div class="header">
        <% views.forEach(v=>{ %>
            <a href='/activity/<%=turn.id%>/play?view=<%=v%>' class="btn-redirect"><%=v%></a>
        <% })%>
        </div>       
    </div>
    <script defer>
        function objetivePhase(){
            debugger;
            const favIcon = document.getElementById('description');
                favIcon.textContent = `<%=instructions%>`;
        favIcon.showModal();
            
        }
    </script>
</body>