<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    
    <div class="container" style="justify-content: center;">
    <div class="container-grid">
        <section style="margin: 10 px;padding: 0.15px 10px; border: 1px solid grey; border-radius: 16px">
            <h3>Lista de Turnos Inscritos: </h3>
            <% if(turnoList && turnoList.length === 0){ %>
                <a href="/turno/join" class="btn-redirect">Unirse a turno</a>

            
            <%}else{%>
                <div class="scroll-container">
            <% turnoList.forEach(t =>{ %>
                <a href="/turno/<%= t[1].id %>/show"><h4>Turno: <%= t[1].name %></h6></a>
                <p>Fecha Inicio:<h6 name="patata[]" id="start-time<%= t[1].id%>"><%= t[1].startDate.toISOString() %></h6></p>
                <% if(t[0]){ %>
                    <h6>ver qeuipo</h6>
                    <a href="/team/<%= t[1].teams[0].id %>/showTeam" class="btn-redirect" style="background-color: aqua;">Ver equipo</a>

                    <!--ver equipo-->
                <%}else{%>
                    <a href="/turno/<%= t[1].id %>/showTeams" class="btn-redirect">Unirse a Equipo</a>
                <% } %>

                

            <% }) %>
            </div>
            <% } %>

        </section>
    </div>
    <div class="container-grid" style="flex-direction: column ;padding: 10px;">
        <form id="turn-join">
            <input type="text" id="codeTurn" name="codeTurn" required>
            <button type="submit">Unirse a turno</button>
        </form>
    </div>
</div>
    <script>
        function getHora(){
            var turno = <%- JSON.stringify(turnoList) %>;
            turno.forEach(p =>{
                const time = document.getElementById(`start-time${p[1].id}`).textContent;
                let prueba = new Date(time);
                document.getElementById(`start-time${p[1].id}`).textContent = "Día: " + prueba.toLocaleDateString('es-ES') + "\tHora: "+ prueba.toLocaleTimeString('es-ES');
            
            });
             
        }
        getHora();
    </script>
    <script defer>
        
        try{
        document.getElementById("turn-join").addEventListener("submit",async (e) =>{
            debugger;

            e.preventDefault();

            const codeTurn = document.getElementById('codeTurn').value;
            const res = await fetch("http://localhost:8000/turno/join",{
                method:"POST",
                headers:{
                "Content-Type":"application/json"
                },
                body: JSON.stringify({
            codeTurn: codeTurn,
            })
            });
        })
        debugger;
        if(res.ok){
        }
    }catch(err){
        console.log(err);
    }
    </script>
</body>